In [1]:
import openai
openai.api_key = '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'

messages = [ {"role": "system", "content": 
              "You are a intelligent assistant."} ]

## Try for single text example

In [17]:
message = input("User : ")
message

In [ ]:
if message:
    messages.append(
        {"role": "user", "content": message},
    )
    chat = openai.ChatCompletion.create(
        model="gpt-3.5-turbo", messages=messages
    )
reply = chat.choices[0].message.content
print(f"ChatGPT: {reply}")
messages.append({"role": "assistant", "content": reply})

## Try for single SQL example

In [23]:
# task = '''The task is TEXT-to-SQL. Please note there could be multiple tables and columns.
# My input format: Natural language query | Table Name 1: Column Name 1, Column Name 2 |  Table Name 2: Column Name 1, Column Name 2 | SQL skeleton
# Generate SQL query for: Find the number of matches in different competitions. | city: city_id, city, hanzi, hanyu_pinyin, regional_population, gdp | match: match_id, date, venue, score, result, competition | temperature: city_id, jan, feb, mar, apr, jun, jul, aug, sep, oct, nov, dec | hosting city: year, match_id, host_city | select count ( _ ) , _ from _ group by _'''

task = '''The task is TEXT-to-SQL. Please note there could be multiple tables and columns.
My input format: Natural language query | Table Name 1: Column Name 1, Column Name 2 |  Table Name 2: Column Name 1, Column Name 2
Generate SQL query for: Find the number of matches in different competitions. | city: city_id, city, hanzi, hanyu_pinyin, regional_population, gdp | match: match_id, date, venue, score, result, competition | temperature: city_id, jan, feb, mar, apr, jun, jul, aug, sep, oct, nov, dec | hosting city: year, match_id, host_city'''

# task = '''The task is TEXT-to-SQL. Please note there could be multiple tables and columns. The output should only be a SQL command.
# Generate SQL query for: Find the number of matches in different competitions.
# Table 1: Name: city | Columns: city_id, city, hanzi, hanyu_pinyin, regional_population, gdp
# Table 2: Name: match | Columns: match_id, date, venue, score, result, competition
# Table 3: Name: temperature | Columns: city_id, jan, feb, mar, apr, jun, jul, aug, sep, oct, nov, dec
# Table 4: Name: hosting_city | Columns: year, match_id, host_city'''



task, len(task)

('The task is TEXT-to-SQL. Please note there could be multiple tables and columns.\nMy input format: Natural language query | Table Name 1: Column Name 1, Column Name 2 |  Table Name 2: Column Name 1, Column Name 2\nGenerate SQL query for: Find the number of matches in different competitions. | city: city_id, city, hanzi, hanyu_pinyin, regional_population, gdp | match: match_id, date, venue, score, result, competition | temperature: city_id, jan, feb, mar, apr, jun, jul, aug, sep, oct, nov, dec | hosting city: year, match_id, host_city',
 537)

In [24]:
messages = [ {"role": "system", "content": 
              "You are a intelligent assistant."} ]

if task:
    messages.append(
        {"role": "user", "content": task},
    )
    chat = openai.ChatCompletion.create(
        model="gpt-3.5-turbo", messages=messages
    )
reply = chat.choices[0].message.content
print(f"ChatGPT: {reply}")
messages.append({"role": "assistant", "content": reply})

ChatGPT: Sure, I can help you with that.

Here's the SQL query to solve your problem:

SELECT COUNT(*)
FROM match
JOIN city on match.city_id = city.city_id
JOIN temperature on temperature.city_id = city.city_id
JOIN hosting_city on hosting_city.match_id = match.match_id
WHERE match.competition = 'different competitions'

This query should give you the number of matches in different competitions, based on the tables provided. Let me know if you need any further assistance!